:root {
  --primary-color: #4cc082;
  --light-primary-color: #e2f3f0;
  --secondary-color: #ec6c5a;
  --light-secondary-color: #ffe9e5;
  --tertiary-color: #ffeed3;
  --dark-color: #31333a;
  --light-color: #ffffff;
  --grey-color: #bbc7d4;
  --light-dark-color: #727272;
  --light-grey-color: #f5f5f5;
}

body {
  font-family: "Cairo", sans-serif;
  scroll-behavior: smooth;
  --bs-link-color: var(--dark-color);
  --bs-link-hover-color: var(--dark-color);

  --bs-link-color-rgb: 40, 40, 40;
  --bs-link-hover-color-rgb: 0, 0, 0;

  --bs-light-rgb: 248, 248, 248;

  --bs-font-sans-serif: var(var(--body-font));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.3rem;
  --bs-body-color: var(--dark-color);

  --bs-primary: #4cc082;
  --bs-primary-rgb: 76, 192, 130;
  --bs-primary-bg-subtle: #e2f3f0;

  --bs-border-color: #f7f7f7;

  --bs-secondary: #ec6c5a;
  --bs-secondary-rgb: 236, 108, 90;
  --bs-secondary-bg-subtle: #ffe9e5;

  --bs-tertiary: #f8be60;
  --bs-tertiary-bg-subtle: #ffeed3;
}

/* features */
#category {
  margin-top: 10px;
  padding-top: 10px;
  background-color: #e0e0e0;
  line-height: 2rem;
}
.category-paragraph {
  transition: all 0.3s ease-in;
}

.primary {
  background: var(--bs-primary-bg-subtle);
  transition: all 0.3s ease-in;
}

.primary:hover {
  background: var(--bs-primary);
}

.secondary {
  background: var(--bs-secondary-bg-subtle);
  transition: all 0.3s ease-in;
}

.secondary:hover {
  background: var(--bs-secondary);
}

.tertiary {
  background: var(--bs-tertiary-bg-subtle);
  transition: all 0.3s ease-in;
}

.tertiary:hover {
  background: var(--bs-tertiary);
}

.gray {
  background: #e0e5eb;
  transition: all 0.3s ease-in;
}

.gray:hover {
  background: var(--bs-gray);
}

.primary:hover .svg-primary,
.primary:hover .category-paragraph,
.secondary:hover .svg-secondary,
.secondary:hover .category-paragraph,
.tertiary:hover .svg-tertiary,
.tertiary:hover .category-paragraph,
.gray:hover .svg-gray,
.gray:hover .category-paragraph {
  color: var(--light-color);
}
.img-icon {
  height: 60px;
  width: 60px;
}

/* image gallery */
.photo-gallery {
  margin-top: 10px;
  padding-top: 10px;
  background-color: #f8f5f5;
}
.gallery img:hover {
  transform: scale(1.1);
  overflow: hidden;
  transition: 0.5s;
}
/* video gallery */
.video-gallery {
  background-color: #f8f5f5;
}
.gallery-vid img:hover {
  transform: scale(1.1);
  overflow: hidden;
  transition: 0.5s;
}

/* prices */
.main-price-container {
  overflow: hidden;
  margin-bottom: 20px;
}
.card {
  position: relative;
  max-width: 300px;
  height: auto;
  background: linear-gradient(-45deg, #fe0847, #feae3f);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin: 0 auto;
  padding: 40px 20px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.price-card:nth-child(1) .card,
.price-card:nth-child(1) .card .title .fa {
  background: linear-gradient(-45deg, #67b7d6, #64b5f6);
}

.price-card:nth-child(2) .card,
.price-card:nth-child(2) .card .title .fa {
  background: linear-gradient(-45deg, #2457ff, #514eff);
}

.price-card:nth-child(3) .card,
.price-card:nth-child(3) .card .title .fa {
  background: linear-gradient(-45deg, #ff61ca, #f321d7);
}

.card:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: rgba(255, 255, 255, 0.1);
  z-index: 1;
  transform: skewY(-5deg) scale(1.5);
  -webkit-transform: skewY(-5deg) scale(1.5);
  -moz-transform: skewY(-5deg) scale(1.5);
  -ms-transform: skewY(-5deg) scale(1.5);
  -o-transform: skewY(-5deg) scale(1.5);
}

.title .fa {
  color: #fff;
  font-size: 60px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  line-height: 100px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.title h2 {
  position: relative;
  margin: 20px 0 0;
  padding: 0;
  color: #fff;
  font-size: 28px;
  z-index: 2;
}

.price {
  position: relative;
  z-index: 2;
}

.price h4 {
  margin: 0;
  padding: 20px 0;
  color: #fff;
  font-size: 60px;
}

.option {
  position: relative;
  z-index: 2;
}

.option ul {
  margin: 0;
  padding: 0;
}

.option ul li {
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
  color: #fff;
  font-size: 16px;
}

.card a {
  position: relative;
  z-index: 2;
  background: #fff;
  color: #262626;
  width: 150px;
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
  display: block;
  text-align: center;
  margin: 20px auto 0;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card a:hover {
  text-decoration: none;
}

/* Floating Box */
.floating-right-bottom-btn {
  position: fixed;
  left: 50px;
  bottom: 50px;
  z-index: 9;
  background-color: transparent;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card1 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.instagram {
  margin-top: 1.5em;
  margin-left: 1.2em;
  fill: #cc39a4;
}

.card2 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 90px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.facebook {
  margin-top: 1.5em;
  margin-left: -0.9em;
  fill: #03a9f4;
}

.card3 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.whatsapp {
  margin-top: -0.6em;
  margin-left: 1.2em;
  fill: #00ff00;
}

.card4 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 90px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.gmail {
  margin-top: -0.9em;
  margin-left: -1.2em;
  fill: #f14336;
}

.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #cc39a4;
}

.card1:hover .instagram {
  fill: white;
}

.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #1877f2;
}

.card2:hover .facebook {
  fill: white;
}

.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #00ff00;
}

.card3:hover .whatsapp {
  fill: white;
}

.card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #ff0004;
}

.card4:hover .gmail {
  fill: white;
}

/* Footer */

.cac {
  background-color: #a7a0a0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.cac:hover a h3 {
  color: #fff !important;
}

.cac a h3 {
  color: #999;
}

.cac h3 {
  padding: 60px 0;
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  text-transform: capitalize;
}

.footer {
  padding: 90px 0 80px !important;
  color: #999;
  background-color: #1f1f1f;
}

.footer .widget-title {
  position: relative;
  display: block;
  margin-bottom: 30px;
}

.footer .widget-title small {
  color: #999;
  display: block;
  padding: 0 58px;
  text-transform: uppercase;
}

.footer .widget-title h3 {
  color: #fff;
  font-weight: 300;
  font-size: 21px;
  padding: 0;
  margin: 0;
  line-height: 1 !important;
}

.copyrights {
  border-top: 1px dashed rgba(249, 186, 31, 0.8);
  background-color: #979595;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 30px 0px;
  overflow: hidden;
}

.footer-section {
  background: #e4dbdb;
  padding: 19px 40px;
}

.copyright {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  padding: 4px 0;
}

.copyright {
  margin-top: 30px;
}
